In [26]:
import os
import shutil
import pandas as pd

df = pd.read_csv('preprocess/trec/train.csv')

In [28]:
import os
import pandas as pd

# Define the directory paths
dbpedia_dir = 'dbpedia'
preprocess_dbpedia_dir = 'preprocess/dbpedia'

# Mapping of original file names to new file names
file_mapping = {
    'DBPEDIA_train.csv': 'train.csv',
    'DBPEDIA_test.csv': 'test.csv',
    'DBPEDIA_val.csv': 'val.csv'
}

# The exact label codes you printed out
target_classes = [185, 166, 159, 57, 160, 168, 146, 198,
                  123, 38, 1, 73, 36, 56, 54, 215,
                  39, 128, 90, 171]

# Initialize an empty DataFrame to accumulate samples
df_accumulated = pd.DataFrame()

# Iterate over the CSV files in the 'dbpedia' directory
for original_file in file_mapping.keys():
    file_path = os.path.join(dbpedia_dir, original_file)
    
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)
    
    # Create a new 'label' column with integer values for each unique class in 'l3'
    df['label'] = df['l3'].astype('category').cat.codes
    
    # Filter to only the target classes
    df = df[df['label'].isin(target_classes)]
    
    # Accumulate samples from each file
    df_accumulated = pd.concat([df_accumulated, df], ignore_index=True)

# (Optional) Remap labels to 0..19 so your model sees contiguous classes
df_accumulated['label'] = df_accumulated['label'].astype('category').cat.codes

# Sample 100,000 examples from the accumulated DataFrame
df_sampled = df_accumulated

# Split into train and test sets (90:10)
train_size = int(0.9 * len(df_sampled))
train_df = df_sampled.iloc[:train_size].reset_index(drop=True)
test_df  = df_sampled.iloc[train_size:].reset_index(drop=True)

# Save the datasets
os.makedirs(preprocess_dbpedia_dir, exist_ok=True)
train_df.to_csv(os.path.join(preprocess_dbpedia_dir, 'train.csv'), index=False)
test_df.to_csv(os.path.join(preprocess_dbpedia_dir, 'test.csv'), index=False)

print("Processing complete. Train and test datasets (only your 20 classes) are saved in 'preprocess/dbpedia'.")

Processing complete. Train and test datasets (only your 20 classes) are saved in 'preprocess/dbpedia'.

In [32]:
# train_df

In [34]:
len(test_df.label.value_counts())

20

In [27]:
df.label.value_counts()[:10].keys()

Index([4, 14, 7, 13, 12, 0, 8, 1, 9, 5], dtype='int64', name='label')

In [50]:
df[df.label==46]

      label-coarse  label                                      text
2470             1     46             What money was used by them ?
5436             1     46                What money was used here ?
5448             1     46  What type of currency is used in China ?
5451             1     46      What currency is used in Australia ?

In [22]:
from sklearn.datasets import fetch_20newsgroups

newsgroups_train = fetch_20newsgroups(subset='train', shuffle=True, random_state=42)
newsgroups_test = fetch_20newsgroups(subset='test', shuffle=True, random_state=42)

In [25]:
newsgroups_train.target_names

['alt.atheism',
 'comp.graphics',
 'comp.os.ms-windows.misc',
 'comp.sys.ibm.pc.hardware',
 'comp.sys.mac.hardware',
 'comp.windows.x',
 'misc.forsale',
 'rec.autos',
 'rec.motorcycles',
 'rec.sport.baseball',
 'rec.sport.hockey',
 'sci.crypt',
 'sci.electronics',
 'sci.med',
 'sci.space',
 'soc.religion.christian',
 'talk.politics.guns',
 'talk.politics.mideast',
 'talk.politics.misc',
 'talk.religion.misc']

In [3]:
from datasets import load_dataset
import pandas as pd

In [4]:
data = load_dataset("trec")

In [5]:
df = data['train'].to_pandas()

In [6]:
len(df['label-fine'].value_counts())

47

In [20]:
df

,label-coarse,label-fine,text
0,0,0,How did serfdom develop in and then leave Russ...
1,1,1,What films featured the character Popeye Doyle ?
2,0,0,How can I find a list of celebrities ' real na...
3,1,2,What fowl grabs the spotlight after the Chines...
4,2,3,What is the full form of .com ?
...,...,...,...
5447,1,14,What 's the shape of a camel 's spine ?
5448,1,46,What type of currency is used in China ?
5449,4,41,What is the temperature today ?
5450,4,41,What is the temperature for cooking ?
5451,1,46,What currency is used in Australia ?

In [19]:
feat = ds["train"].features["label-fine"]
# if feat is e.g. Sequence(feature=ClassLabel(...))
fine_names = feat.feature.names  
print(fine_names)

AttributeError: 'Value' object has no attribute 'feature'